*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.eot');
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('font/iconfont.woff') format('woff'),
    url('font/iconfont.ttf') format('truetype'),
    url('font/iconfont.svg#iconfont') format('svg');

}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

li{
    list-style: none;
}
@media screen and (max-width:768px){
    .choose{
        position: fixed;
        width: 100vw;
        height: 8vh;
        text-align: center;
       
        color: seashell;
        background-color: rgba(32, 24, 24, 1);
    }
    .choose>span{
         line-height: 8vh; 
        color: #000;
        font-size: 1.5rem;
        letter-spacing: .5rem;
    }
    .choose .circle{
        position: absolute;
        width: 12vh;
        height: 12vh;
        border-radius: 50%;
        right: 0;
        top: 0;
        background-image: url(img/img1.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .choose .pre{
        transform: skew(15deg);
      
        position: absolute;
        line-height: 4vh;
        right: 6vh;
        top: 6vh;
        width: 50vw;
        height: 4vh;
        background-color: darkorange;
    }
    .pre img{
       position: relative;
       top: 50%;
       transform: translateY(-50%) ;
        width: 5vw;
        height: 3vh;
        line-height: 4vh;
    }
    .pre span{
        margin-left: 5vw;
        margin-right: 2vw;
        font-size: .5rem;
        transform: skew(0deg);
    }

    /* -------------------------------- */
    .choose_nav{
        z-index: -1;
        position: fixed;
        top: -4vh;
        width: 100vw;
        height: 12vh;
        background-color: violet;
    }
    .choose_nav .pre_control{
        position: relative;
        width: 100%;
        height: 100%;
        font-size: 0;
    }
    .pre_control>div{
        display: inline-block;
        position: absolute;
        width: 25vw;
        font-size: .5rem;
        height: 100%;
        text-align: center;
    }
    .pre_control img{
        width: 4vh;
        height: 4vh;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top:3vh;  
        margin-bottom: .5vh;
    }
    .pre_control span{
        font-size: .5rem;
    }
    .control_staff{
        position: relative;
        left: 0;
        top: 0;
    }


    .control_movie{
        left: 25vw;
        background-color: teal;
    }
    .control_set{
        left: 50vw;
        background-color: turquoise;
    }
    .back{
        left: 75vw;
        background-color: wheat;
    }
    .container{
        position: absolute;
        width: 100vw;
        margin-top: 15vh;
        height: 80vh;

    } 
    .container li{
        z-index: -2;
        font-size: .5rem;
        margin: 0 auto;
        width: 95vw;
        height: 3.5vh;
        line-height: 3.5vh;
        border-radius: .5rem;
        border: .05rem solid gainsboro;
        padding-left: .5rem;
        margin: 2vh 0;
    }
    .container li span{
        display: inline-block;
        line-height: 3.5vh;
        margin: 0 0.5vw;
    }
    .stf_name{
        width: 2.5rem;
    }
    .stf_pho{
        width: 5rem;
    }
    .stf_pas{
        width: 3rem;
        overflow: hidden;
        
    }
    .stf_born{
        width: 3.5rem;
    }
    .container .staff_del{
        font-size: .5rem;
        color: tomato;
        margin:0 .5vw;
    }
    .container .staff_mod{
        font-size: .5vw;
        margin-left: .5vw;
    }
}

