*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
}
.placeholder{
    -webkit-text-fill-color: rgb(212, 19, 19);
}
input{
    box-sizing: border-box;
    color: rgb(255, 248, 220);
    -webkit-text-fill-color: #fff;
    background:none;  
    outline:none;  
    border:0px;
    border-bottom: .1vh solid cornsilk;
    animation: setColor 1s infinite;
}
@keyframes setColor{
    from{
        background-color: rgba(255, 255, 255, 0);
    }
    to{
        background-color: rgba(255, 255, 255, 0);
    }
}

.login{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    color: cornsilk;
    /* transform: rotateY(180deg); */
   
}


.login>div{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

span{
    margin-right: 2vw;
}
.top h3{
    padding: 2vh 0;
}
.tips{
    width:100%;
    height: 6vh;
    overflow: hidden;
} 
.tips_Inner{
    display: block;
}
.bottom .scroll{
    transition: 1s;
}
@media screen and (max-width:768px){
    body{
        background-image: url(img/cinema.jpg);
        background-repeat: no-repeat;
        background-size:auto 100%;
    }  
    input{
        padding:0 1vw;
        font-size: 1rem;
        width: 50vw;
    }
    .alert{
        width: 70vw;
        height: 40vh;
        top: 25vh;
    }
    .top{
        top: 10vh;
        width: 70vw;
        height: 20vh;
        animation: moveDown 1s ease;
        animation-fill-mode: forwards;
    }
    .top input{
        margin-top: 3vh;
    }
    @keyframes moveDown {
        from{
            top: 10vh;
        }
        to{
            top: 25vh;
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
    .bottom{
        position: absolute;
        bottom: 10vh;
        left: 50%;
        transform: translateX(-50%);
        width: 70vw;
        height: 20vh;
        animation: moveUp 1s ease; 
        animation-fill-mode: forwards;
    }
    @keyframes moveUp{
        from{
            bottom: 10vh;
        }
        to{
            bottom: 35vh;
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
    .bottom .b_input{
        margin: 3vh 0;
    }
    .bottom .submit{
        text-align: center;
        border: 1px solid cornsilk;
        border-radius: .5rem;
        width: 30vw;
        height: 4vh;
        margin-bottom: 4vh;
    }
}
@media screen and (min-width:769px){
    body{
        background-image: url(img/cinema.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        font-size: 24px;
    }   
    input{
        padding:0 1vw;
        font-size: 24px;
        width: 380px;
    }
    .alert{
        width: 50vw;
        height: 60vh;
        top: 15vh;
    }
    .top{
        top: 5vh;
        width: 50vw;
        height: 30vh;
        animation: moveDown 1s ease;
        animation-fill-mode: forwards;
    }
    @keyframes moveDown {
        from{
            top: 5vh;
        }
        to{
            top: 15vh;
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
    .top input{
        margin-top: 10vh;
    }

    .bottom{
     
        bottom: 10vh;
        width: 50vw;
        height: 30vh;
        animation: moveUp 1s ease; 
        animation-fill-mode: forwards;
    }
    @keyframes moveUp{
        from{
            bottom: 10vh;
        }
        to{
            bottom: 25vh;
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
    .bottom .b_input{
        margin: 7vh 0;
    }
    .bottom .submit{
        font-size: 18px;
        text-align: center;
        border: 1px solid cornsilk;
        border-radius: 10px;
        width: 20vw;
        height: 4vh;
        margin-bottom: 4vh;
        cursor: pointer;
    }
   
  
}
